# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with defaults from defaults.yaml ##}
{% import_yaml 'sudoers/defaults.yaml' as default_settings %}

{## Get commands list from pillar ##}
{% set sudoers = salt['pillar.get'](
        'sudoers',
        default=default_settings.sudoers,
        merge=False
    )
%}
