# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with defaults from defaults.yaml ##}
{% import_yaml 'mongodb/defaults.yaml' as default_settings %}

{## Merge in mongodb pillar ##}
{% set mongodb = salt['pillar.get'](
        'mongodb',
        default=default_settings.mongodb,
        merge=True
    )
%}
