# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with defaults from defaults.yaml ##}
{% import_yaml 'optipng/defaults.yaml' as default_settings %}

{## Merge in optipng pillar ##}
{% set optipng = salt['pillar.get'](
        'optipng',
        default=default_settings.optipng,
        merge=False
    )
%}
