# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.sls ##}
{% import_yaml 'nodejs/defaults.yaml' as default_settings %}

{## Merge in npm pillar ##}
{% set npm = salt['pillar.get'](
        'npm',
        default=default_settings.npm,
        merge=True
    )
%}
